{% extends "_base.html" %}
{% block content %}
<table border="0" cellpadding="2" cellspacing="0">
<tr><td><font size="3"><b>Access Denied</b></font></td></tr>
<tr><td height="8"></td></tr>
<tr><td><font color="red">You are not authorized to view this member (ERR-4031)</font></td></tr>
<tr><td height="8"></td></tr>
<tr><td>Contact your branch supervisor if you believe this is in error.</td></tr>
<tr><td height="8"></td></tr>
<tr><td><a href="/console/members/search">&laquo; Member Search</a></td></tr>
</table>
{% endblock %}
