<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<frameset cols="180,*" frameborder="1" border="2" framespacing="2">
<frame name="nav" src="/console/nav" scrolling="auto" marginwidth="0" marginheight="0">
<frame name="main" src="/console/home" scrolling="auto" marginwidth="0" marginheight="0">
<noframes>
<body>
<p>This console requires a browser that supports frames.</p>
</body>
</noframes>
</frameset>
</html>
